@import "tailwindcss";
@theme {
  --color-blue: #2997ff;
  --color-gray-default: #86868b;
  --color-gray-default-100: #94928d;
  --color-gray-default-200: #afafaf;
  --color-gray-default-300: #42424570;
  --color-zinc: #101010;
}

body {
  color: white;
}
.hero-title {
  @apply text-center font-semibold text-3xl text-gray-default-100 opacity-0 max-md:mb-10;
}
